$white: #ffffff;
$white-alpha: rgba(255, 255, 255, 0.5);

$accent: #1ab1c1;
$accent-alpha: rgba(26, 177, 193, 0.7);

$section: #edf4f9;
$shadow: #c9c0c3;
$gradient: linear-gradient(to bottom, rgba(21,89,112,1) 0%, rgba(1,59,80,1) 100%);
$form: #0d546d;