* {
    box-sizing: border-box;
}

@import "color";

.container, .container-fluid {
    h1 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 9em;
        color: $white;
    }
    h2 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 3em;
        color: $white;
    }
    h3 {
        font-family: "Roboto";
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 1em;
    }
    
    .highlight {
        color: $accent;
        font-weight: 900;
    }
    
    h4 {
        font-weight: 500;
        text-transform: uppercase;
        line-height: 3em;
    }
    h5 {
        text-align: center;
        line-height: 4em;
        font-weight: 300;
    }
    p {
        font-family: "Lato", sans-serif;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: $white;
    }
}

section {
    margin: 2em 0 2em 0;
}