@import "color";
@import "global";

header {
    position: relative;
    width: 100vw;
    height: 800px;
    background-color: grey;
    background-image: url(../img/kc-luk-188412.jpg);
    background-size: cover;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    
    #header-text {
    display: inline-block;
    
    }
    
     h1 #surname {
        color: $accent;
        font-weight: 500;
    }
} 

