@import "global";
@import "color";

.portfolio-item {
    padding: 0px;
}

#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
    background-position: center;
    height: 350px;
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
    background-position: center;
    height: 350px;
}

#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
    background-position: center;
    height: 350px;
}

#portfolio-item-4 {
    background-image: url(../img/portfolio4.jpg);
    background-position: center;
    height: 350px;
}

.portfolio-item-hover {
    width: 100%;
    height: 100%;
    background-color: $accent-alpha;
    color: $white;
    text-align: center;
    padding: 5%;
    opacity: 0;
    &:hover {
        opacity: 100;
        transition: all 0.3s ease-in-out;
    }
}

.portfolio-item-hover-box {
    border: 1px solid #fff;
    padding: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}