@media all and (max-width: 1200px) {}

@media all and (max-width: 768px) {
    nav .toggle {
        display: block;
        padding: 0 20px;
        font-size: 16px;
        line-height: 60px;
        border: none;
        text-align: right;
        color: #ffffff;
    }
    nav ul {
        display: none;
    }
    nav #drop:checked+ul {
        display: block;
    }
    nav>ul>li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    @media all and (max-width: 640px) {}
    @media all and (max-width: 480px) {}