* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

header {
  position: relative;
  width: 100vw;
  height: 800px;
  background-color: grey;
  background-image: url(../img/kc-luk-188412.jpg);
  background-size: cover;
  background-position: center;
  display: table-cell;
  vertical-align: middle; }
  header #header-text {
    display: inline-block; }
  header h1 #surname {
    color: #1ab1c1;
    font-weight: 500; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

.navbar-default {
  background-color: rgba(0, 0, 0, 0.3);
  border: none; }
  .navbar-default .navbar-nav {
    float: right; }
    .navbar-default .navbar-nav li > a {
      color: #ffffff;
      padding-bottom: 21px;
      border-bottom: 3px solid transparent; }
      .navbar-default .navbar-nav li > a:hover {
        color: #ffffff;
        border-bottom: 3px solid #1ab1c1;
        padding-bottom: 21px; }

nav .toggle, #drop {
  display: none; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

#about {
  background-color: #edf4f9;
  box-shadow: 10px 0px 15px #c9c0c3;
  margin-top: 0px; }

#about-picture {
  background-image: url(../img/zuza.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 5px solid #1ab1c1;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5em; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

#skills p {
  margin-bottom: 3em; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

.portfolio-item {
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px; }

#portfolio-item-1 {
  background-image: url(../img/portfolio1.jpg); }

#portfolio-item-2 {
  background-image: url(../img/portfolio2.jpg); }

#portfolio-item-3 {
  background-image: url(../img/portfolio3.jpg); }

#portfolio-item-4 {
  background-image: url(../img/portfolio4.jpg); }

.portfolio-item-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(26, 177, 193, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 5%;
  opacity: 0; }
  .portfolio-item-hover:hover {
    opacity: 100;
    transition: all 0.3s ease-in-out; }

.portfolio-item-hover-box {
  border: 1px solid #fff;
  padding: 2%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

#contact {
  padding: 3em 1em 3em 0;
  background: linear-gradient(to bottom, #155970 0%, #013b50 100%);
  height: auto;
  margin-bottom: 0px; }
  #contact h3 {
    color: #ffffff; }
  #contact adress > a {
    color: #1ab1c1; }

form input,
form textarea {
  display: block;
  height: 5em;
  width: 100%;
  margin-bottom: 1em;
  background-color: #0d546d;
  border: 1px solid #0d546d;
  outline: none;
  padding: 0.5em;
  color: #ffffff; }
  form input::placeholder,
  form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5); }

form textarea {
  height: 150px;
  resize: none; }

form .button {
  background-color: #1ab1c1;
  font-weight: 700;
  text-transform: uppercase; }

#social-media {
  margin-top: 2em; }
  #social-media .sm-box {
    margin-right: 1em;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #ffffff;
    line-height: 6rem; }
    #social-media .sm-box:hover {
      background-color: #1ab1c1;
      border: 2px solid #1ab1c1;
      transition: all 0.2s ease; }
  #social-media .sm-offset {
    width: 5em; }

* {
  box-sizing: border-box; }

.container h1,
.container-fluid h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2,
.container-fluid h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3,
.container-fluid h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight,
.container-fluid .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4,
.container-fluid h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5,
.container-fluid h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p,
.container-fluid p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a,
.container-fluid a {
  text-decoration: none;
  color: #ffffff; }

.container adress,
.container-fluid adress {
  color: #ffffff; }

section {
  margin: 2em 0 2em 0; }

footer {
  background-color: #042633;
  color: #ffffff;
  padding: 0.8em; }
