* {
  box-sizing: border-box; }

.container h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a {
  text-decoration: none;
  color: #ffffff; }

* {
  box-sizing: border-box; }

.container h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a {
  text-decoration: none;
  color: #ffffff; }

header {
  position: relative;
  width: 100vw;
  height: 800px;
  background-color: grey;
  background-image: url(../img/kc-luk-188412.jpg);
  background-size: cover;
  background-position: center;
  display: table-cell;
  vertical-align: middle; }
  header #header-text {
    display: inline-block; }
  header h1 #surname {
    color: #1ab1c1;
    font-weight: 500; }

* {
  box-sizing: border-box; }

.container h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a {
  text-decoration: none;
  color: #ffffff; }

.navbar-default {
  background-color: rgba(0, 0, 0, 0.3);
  border: none; }
  .navbar-default .navbar-nav {
    float: right; }
    .navbar-default .navbar-nav li > a {
      color: #ffffff;
      padding-bottom: 21px;
      border-bottom: 3px solid transparent; }
      .navbar-default .navbar-nav li > a:hover {
        color: #ffffff;
        border-bottom: 3px solid #1ab1c1;
        padding-bottom: 21px; }

nav .toggle, #drop {
  display: none; }

* {
  box-sizing: border-box; }

.container h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 9em;
  color: #ffffff; }

.container h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3em;
  color: #ffffff; }

.container h3 {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em; }

.container .highlight {
  color: #1ab1c1;
  font-weight: 900; }

.container h4 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em; }

.container h5 {
  text-align: center;
  line-height: 4em;
  font-weight: 300; }

.container p {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container a {
  text-decoration: none;
  color: #ffffff; }

#about-picture {
  background-image: url(../img/zuza.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border: 5px solid #1ab1c1;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1em; }
